.title-box{
    width: 60%;
    border: 3px dotted #9BD4E4;
    border-radius: 15px;
    padding: 20px;
}

.title{
 color: #005DB7;
 font-size: 56px;
 line-height: 60px;
}
.desc{
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}



.service-box{
    border: 3px solid #9BD4E4;
    border-radius: 15px;
    position: relative;
}
.service-befor::before{
 content: '';
 width: 100%;
 height: 123%;
 background-image: url(../../../public/images/line1.svg);
 background-repeat: no-repeat;

 position: absolute;
 top: -129%;
 left: 30%;
}
.service-befor-line::before{
    content: '';
    width: 100%;
    height: 123%;
    background-image: url(../../../public/images/line2.svg);
    background-repeat: no-repeat;
   
    position: absolute;
    top: -122%;
    right: -20%;
}
.service-before-after::before{
    content: '';
    width: 100%;
    height: 170%;
    background-image: url(../../../public/images/line3.svg);
    background-repeat: no-repeat;
   
    position: absolute;
    top: -127%;
    left: -17%;
}
.service-before-after::after{
    content: '';
    width: 100%;
    height: 170%;
    background-image: url(../../../public/images/line4.svg);
    background-repeat: no-repeat;
   
    position: absolute;
    top: -127%;
    left: 57%;
}
.service-before-after-line::before{
    content: '';
    width: 100%;
    height: 170%;
    background-image: url(../../../public/images/line3.svg);
    background-repeat: no-repeat;
   
    position: absolute;
    top:-127%;
    left: -17%;
}
.service-before-after-line::after{
    content: '';
    width: 100%;
    height: 170%;
    background-image: url(../../../public/images/line4.svg);
    background-repeat: no-repeat;
   
    position: absolute;
    top:-137%;
    left:56%;
}

.icon{
    width: 50px;
}
.service-title{
    font-size: 22px;
    line-height: 28px;
    color: #005DB7;
}
.service-desc{
    font-size: 14px;
    line-height: 18px;
}


.p-10{
    padding: 10px;
}
.pt-100{
    padding-top: 100px;
}
.mr-140 {
    margin-right: 140px;
}
.ml-20 {
    margin-left: 20px;
}
.mt-100{
    margin-top: 100px;
    }
.mb-100{
    margin-bottom: 100px;
}
@media (max-width:1440px ){
    .service-befor::before{
        content: '';
        width: 100%;
        height: 165%;
        background-image: url(../../../public/images/line1.svg);
        background-repeat: no-repeat;
       
        position: absolute;
        top: -169%;
        left: 32%;
       }
    .service-befor-line::before{
        content: '';
        width: 95%;
        height: 165%;
        background-image: url(../../../public/images/line2.svg);
        background-repeat: no-repeat;
       
        position: absolute;
        top: -164%;
        right: -14%;
    }
    .service-before-after::before{
        content: '';
        width: 100%;
        height: 170%;
        background-image: url(../../../public/images/line3.svg);
        background-repeat: no-repeat;
       
        position: absolute;
        top: -127%;
        left: -17%;
    }
    .service-before-after::before{
        content: '';
        width: 100%;
        height: 200%;
        background-image: url(../../../public/images/line3.svg);
        background-repeat: no-repeat;
       
        position: absolute;
        top: -145%;
        left: -13%;
    }
    .service-before-after::after{
        content: '';
        width: 100%;
        height: 200%;
        background-image: url(../../../public/images/line4.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: -144%;
        left: 60%;
    }
    .service-before-after-line::before{
        content: '';
        width: 100%;
        height: 200%;
        background-image: url(../../../public/images/line3.svg);
        background-repeat: no-repeat;
       
        position: absolute;
        top:-150%;
        left: -13%;
    }
    .service-before-after-line::after{
        content: '';
        width: 100%;
        height: 200%;
        background-image: url(../../../public/images/line4.svg);
        background-repeat: no-repeat;
       
        position: absolute;
        top:-144%;
        left:60%;
    }
 }
 @media ( max-width: 1399px){
    .service-befor::before{
        content: '';
        width: 100%;
        height: 165%;
        background-image: url(../../../public/images/line1.svg);
        background-repeat: no-repeat;
       
        position: absolute;
        top: -169%;
        left: 23%;
       }
    .service-before-after::before{
        content: '';
        width: 100%;
        height: 200%;
        background-image: url(../../../public/images/line3.svg);
        background-repeat: no-repeat;
       
        position: absolute;
        top: -149%;
        left: -16%;
    }
    .service-before-after::after{
        content: '';
        width: 100%;
        height: 193%;
        background-image: url(../../../public/images/line4.svg);
        background-repeat: no-repeat;
       
        position: absolute;
        top: -146%;
        left: 58%;
    }
    .service-before-after-line::before{
        content: '';
        width: 100%;
        height: 200%;
        background-image: url(../../../public/images/line3.svg);
        background-repeat: no-repeat;
       
        position: absolute;
        top:-149%;
        left: -20%;
    }
    .service-before-after-line::after{
        content: '';
        width: 100%;
        height: 200%;
        background-image: url(../../../public/images/line4.svg);
        background-repeat: no-repeat;
       
        position: absolute;
        top:-148%;
        left:53%;
    }
 }
 @media ( max-width: 1199px){
    .service-befor::before{
        display: none;
       }
       .service-befor-line::before{
        display: none;
       }
       .service-before-after::after{
        display: none !important;
       }
       .service-before-after::before{
        display: none;
       }
       .service-before-after-line::after{
        display: none;
       }
       .service-before-after-line::before{
        display: none;
       }
       .mr-140 {
        margin-right: 0px;
    }
    .pt-m-0{
        padding-top: 50px ;
    }
 }
 @media (max-width: 844px){
    .mobile-align{
        flex-wrap: wrap;
        justify-content: center;
       }
       .m-midle-align{
        margin: auto;
       }
       .mr-m-20{
        margin-right: 20px;
       }
       .mt-m-20{
        margin-top: 20px !important;
       }
       .title-box{
        width: 100%;
       }
       .service-before-after::before{
        display: none;
       }
       .service-before-after::after{
        display: none;
       }
       .service-before-after-line::after{
        display: none;
       }
       .service-before-after-line::before{
        display: none;
       }
       .service-befor::before{
        display: none;
       }
       .service-befor-line::before{
           display: none;
       }
       .mr-140 {
        margin-right:50px;
    }
    .pt-m-0{
        padding-top: 0;
    }
    .mb-md-20{
        margin-bottom: 20px;
    }
 }
@media (max-width: 767.98px) {
    .title-box{
        width: 100%;
        
    }
    .title{
        font-size: 28px;
        line-height: 34px;
       }
       .service-befor::before{
        display: none;
       }
       .service-befor-line::before{
        display: none;
       }
       .service-before-after::after{
        display: none !important;
       }
       .service-before-after::before{
        display: none;
       }
       .service-before-after-line::after{
        display: none;
       }
       .service-before-after-line::before{
        display: none;
       }
       .service-box{
        width: 100%;
        margin-top: 50px;
         }
       .mobile-align{
        flex-direction: column;
       }
       .mr-140 {
        margin-right: 0px;
    }
    .ml-20 {
        margin-left: 0px !important;
    }
    .service{
        padding: 16px;
    }
    .pt-100{
        padding-top: 20px;
    }
    .mobile-arrow::before{
        content: '';
        background-image: url(../../../public/images/arrowMobile.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 53px;
        position: absolute;
        bottom: -63px;
        left: 44%;
        z-index: 99;
    }
    .mt-m-60{
        margin-top: 70px;
    }
    .mt-m-35{
        margin-top: 35px;
    }
    .mr-m-20{
    margin-right: 0;
    }
    
 }

 
 
 @media (max-width: 767.98px){
    .service-box{
        width: 86% !important;
    }
 }