.title-box{
    width: 80%;
    border: 3px dotted #9BD4E4;
    border-radius: 15px;
    padding: 20px;
}

.title{
 color: #005DB7;
 font-size: 80px;
 line-height: 90px;
}
.desc{
    font-size: 23px;
    line-height: 34px;
    color: #828282;
}



.service-box{
    border: 3px solid #9BD4E4;
    border-radius: 15px;
    width: 28% !important;
}

.icon{
    width: 50px;
}
.service-title{
    font-size: 30px;
    line-height: 46px;
    color: #005DB7;
}
.service-desc{
    font-size: 10px;
    line-height: 15px;
}


.p-10{
    padding: 10px;
}
.pt-100{
    padding-top: 100px;
}
.mr-30 {
    margin-right: 30px;
}
.ml-30 {
    margin-left: 30px;
}
.mt-100{
    margin-top: 100px;
    }
.mb-100{
    margin-bottom: 100px;
}