.method-section{
    padding-top: 100px;
    padding-bottom: 50px;
}


.method-title-box{
    width: 80%;
    padding: 20px;
}

.method-title{
 color: #005DB7;
 font-size: 80px;
 line-height: 90px;
}
.method-desc{
    font-size: 23px;
    line-height: 34px;
    color: #828282;
}
.method-box{
    border: 3px solid #CADEEF;
    border-radius: 15px;
    padding: 10px 20px 20px;
    background-color: #CADEEF;
}
.mt-30{
    margin-top: 30px;
}
.ml-30{
    margin-left: 30px;
}
.ml-130{
    margin-left: 130px;
}
.ml-230{
    margin-left: 230px;
}
.ml-330{
    margin-left: 330px;
}
.ml-400{
    margin-left: 400px;
}