.portfolio-title-box{
    width: 80%;
    padding: 20px  20px 50px;
}

.portfolio-title{
 color: #005DB7;
 font-size: 56px;
 line-height: 60px;
}
.portfolio-desc{
    font-size: 22px;
    line-height: 28px;
    color: #828282;
}
.portfol-content{
    background-image: url(../../../public/images/portfolio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
    height: 450px;
    width: 400px;
    
}

.portfol-content:hover{
    flex-shrink:2
}
.overlay{
    width: 100%;
    height: 100%;
    padding: 30px 20px 30px 20px;
    border-radius: 10px;
    transition: 0.5s;
}
.overlay:hover{
    background-color: red;
    mix-blend-mode: multiply;
}
.overlay:hover .cart-title{
    color: #ffffff;
}
.cart-title{
    font-size: 30px;
    line-height: 38px;
    color: #ffffff;
}
.cart-desc{
    font-size: 12px;
    line-height: 19px;
    color: #ffffff;
}
.mt-30{
    margin-top: 30px;
}
@media (max-width: 767.98px){
    .portfolio-title-box{
        width: 100%;
    }
    
    .portfolio-title{
     font-size: 28px;
     line-height: 34px;
    }
    .portfolio-desc{
        font-size: 18px;
        line-height: 26px;
        
    }
    .m-mt-30{
 margin-top: 30px;
    }
}