.portfolio-title-box{
    width: 80%;
    padding: 20px;
}

.portfolio-title{
 color: #005DB7;
 font-size: 80px;
 line-height: 90px;
}
.portfolio-desc{
    font-size: 23px;
    line-height: 34px;
    color: #828282;
}
.portfol-content{
    background-image: url(../../../public/images/portfolio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 50px 150px 20px;
    border-radius: 10px;
    
}
.portfol-content:hover{
    flex-shrink:2
}
.cart-title{
    font-size: 30px;
    line-height: 38px;
    color: #ffffff;
}
.cart-desc{
    font-size: 12px;
    line-height: 19px;
    color: #ffffff;
}
.mt-30{
    margin-top: 30px;
}