.navbar{
    position: sticky !important;
    top: 0;
    right:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px !important;
    box-shadow: 0 2px 5px rgba(1, 1, 1, 0.3);
    z-index: 9999;
    background-color: #fff;
}


.logo{
    width: 200px;
    height: 60px;
    margin-left: 50px;
}

.menu-link{
    padding: 15px;
    color: #0E0032;
    font-size: 20px;
    font-weight: 400;
    transition: 0.3s;
    text-decoration: none;
}

.menu-link:hover{
    color: #0ACBFF;
}

.barger-icon{
    display: none;
    position: absolute;
    right: 32px;
    top: 20px;
    color: #0E0032;
}

.contact-btn-link{
    width: 170px;
    padding: 10px 20px;
    border: 1px solid #005DB7;
    border-radius: 8px;
    transition: 0.5s;
    position: relative;
    margin-right: 10px;
}
.contact-link{
    color:#0ACBFF;
    color:#005DB7;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    transition: 0.5s;
    padding-right: 5px;
    text-decoration: none;
}
.contact-btn-link:hover .contact-link {
    padding-right: 15px;
    color: #0E0032;
}


.contact-btn-link:hover{
    background: #005DB7;
    color: #0E0032;
}

.contact-arrow-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
}


/* Responsive header */
@media (max-width: 975px){
    .menu-link {
        padding: 13px;
        font-size: 15px;
        
    }
    .contact-btn-link {
        width: 150px;
        margin-right: 0px; 
    }
}
@media (max-width: 844px){
    .menu-link{
        font-size: 16px;
        padding: 12px;
    }
    .navbar{
     flex-wrap: nowrap;
    }
    .logo{
        margin-left: 10px;
    }
    
 }
@media (max-width: 767.98px) {
    .menu-link{
        display: none;
        
    }
    .menu-link-mobile{
        display: block;
        color: #0E0032;
        font-size: 16px;
        margin-left: 16px;
        margin-top: 16px;
        text-decoration: none;
    }
    .menu-mobile{
        position: absolute;
        left: 0;
        top: 85px;
        background-color: #ffffff;
        width: 100%;
        height: 225px;
    }
    .barger-icon{
        display:block;
        text-align: end;
        font-size: 30px;
        background-color: transparent;
        color: #0E0032;
        margin-top: 10px;
    }
    .contact-btn-link{
        display: none;
    }
    .logo{
        width: 150px;
        margin-left: 10px;
        height: 40px;
    }
}
